---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      ebeybe peluqueria y estetica playas de tijuana
      <br />
      Que servicios ofrecemos en EBEYBE?:
      <ul class="list-disc list-inside">
        <li>Cortes</li>
        <li>Tintes</li>
        <li>Rayitos</li>
        <li>Retoques</li>
        <li>Barba</li>
        <li>Rasurado</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      en EBEYBE Realizamos c
      Cortes de Caballero, Dama, Cortes de cabello oara niños y niñas. También realizamos tintes y diferentes tipos de barbas adaptando a las necesidsdes de todo publico.
    </p>
    <p class="text-sm font-light">
      Si estás buscando algun corte en especial, No dudes en consultar. Realizamos desde lo más básico hasta lo ultimo en moda.
    </p>
  </div>
</Card>
